/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.main {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
}

.h1 {
  font-family: var(--welcome-page-font-family);
  font-size: var(--h1-size);
}
.h2 {
  font-family: var(--welcome-page-font-family);
  font-size: var(--h2-size);
}

.cardz {
  align-content: center;
  padding: 10px;
  margin: 10px;
  background-color: var(--ifm-card-background-color);
  border-radius: var(--ifm-card-border-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  display: flex;
  overflow: hidden;
}

.indexCtas {
  --ifm-button-size-multiplier: 1.4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0;
}
.indexCtas a,
.indexCtas a:hover {
  color: black;
}
.indexCtas a:last-of-type {
  margin: 20px 36px;
}
.indexCtasGitHubButtonWrapper {
  display: flex;
}
.indexCtasGitHubButton {
  overflow: hidden;
}

.whoziticontainer {
  display: flex;
  padding: 5px;
}
.whozitititlelogo {
  min-height: 100px;
  display: flex;
  justify-content: flex-end;
  width: 30%;
  border-radius: 15px 0 0 15px;
  padding-right:10px;
  border-style: solid;
  border-width:thin;
  align-items: center;
}
.whozitibullets {
  display:flex;
 justify-content:space-between;
 align-items: center;
 width: 70%;
 border-radius: 0px 15px 15px 0px;
 padding:10px;border-width:thin;
 border-bottom-style: solid;
 border-right-style: solid;
 border-top-style: solid;
}