/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
:root {
  --callout-color: #ffffff;
  --callout-border-color: #c3c3c3;
  --openziti-callout-color: #ffffff;
  --zeds-callout-color: #ffffff;
  --cloudziti-callout-color: #ffffff;
}
html[data-theme="dark"] {
  --callout-color: #374050;
  --callout-border-color: #93a2b7;
  --openziti-callout-color: #374050;
  --zeds-callout-color: #374050;
  --cloudziti-callout-color: #374050;
  --github-img: '/img/github.svg';
}

.main {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
}

.h1 {
  font-family: var(--title-font-family);
  font-size: var(--h1-size);
}
.h2 {
  font-family: var(--title-font-family);
  font-size: var(--h2-size);
}
.h3 {
  font-size: var(--h3-size);
}

.cardz {
  align-content: center;
  padding: 10px;
  margin: 10px;
  background-color: var(--ifm-card-background-color);
  border-radius: var(--ifm-card-border-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  display: flex;
  overflow: hidden;
}

.indexCtas {
  --ifm-button-size-multiplier: 1.4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0;
}
.indexCtas a,
.indexCtas a:hover {
  color: black;
}
.indexCtas a:last-of-type {
  margin: 20px 36px;
}
.indexCtasGitHubButtonWrapper {
  display: flex;
}
.indexCtasGitHubButton {
  overflow: hidden;
}

.whoziticontainer {
  display: flex;
  padding: 5px;
}
.whozitititlelogo {
  min-height: 100px;
  display: flex;
  justify-content: flex-end;
  width: 30%;
  border-radius: 15px 0 0 15px;
  padding-right:10px;
  border-style: solid;
  border-width:thin;
  align-items: center;
}
.whozitibullets {
  display:flex;
  justify-content:space-between;
  align-items: center;
  width: 70%;
  border-radius: 0px 15px 15px 0px;
  padding:10px;border-width:thin;
  border-bottom-style: solid;
  border-right-style: solid;
  border-top-style: solid;
}

.installChoice {
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin: 10px;
  border-style: solid;
  border-color: var(--callout-border-color);
  border-width: 1px;
  box-shadow: 0 0 10px var(--callout-border-color);
}
.installChoiceBtn {
  display: flex;
  flex-grow: 1;
  align-items: end;
  flex-direction: row;
}