/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.main {
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
}

.h1 {
  font-family: 'Russo One', 'Open Sans', Tahoma, Helvetica, sans-serif;
  font-size: xxx-large;
}
p.h2{
  font-size: large;
}

.cardz {
  align-content: center;
  padding: 10px;
  margin: 10px;
  background-color: var(--ifm-card-background-color);
  border-radius: var(--ifm-card-border-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  display: flex;
  overflow: hidden;
}



