###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_site
.vscode
.docusaurus/
/node_modules/*


# ignores for content generated before the doc site
.idea
docs-local

github_deploy_key
sessions

# use yarn, not npm, see README.md for details
package-lock.json

*.zip
