###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_site
.vscode


# ignores for content generated before the doc site
docfx_project/api/clang/api/
.idea
