.root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background-color: var(--ifm-background-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  padding: 20px 20px;
}

@media (min-width: 1300px) {
  .content {
    min-width: 1300px;
    max-width: 1300px;
    padding: 20px 20px;
  }
}