.ozHorizontalSectionRoot {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  background-color: var(--ifm-background-color);
  max-width: var(--ziti-max-width);
  width: 100%;
}

.ozhsContent {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 20px;
}

@media (min-width: 1420px) {
  .ozhsContent {
    min-width: var(--ziti-max-width);
    width: 100%;
  }
}
