.ozHorizontalSectionRoot {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background-color: var(--ifm-background-color);
}

.ozhsContent {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 20px;
}

@media (min-width: 1420px) {
  .ozhsContent {
    min-width: 1400px;
    max-width: 1400px;
  }
}