.layoutDocsCard {
    display: block;
    font-size: 12px;
    max-width: 30em;
}

.layoutDocsCard.disabled, .layoutDocsCard[disabled] {
    position: relative;
}

.layoutDocsCard.disabled::after, .layoutDocsCard[disabled]::after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(232, 232, 232, 0.5);
    pointer-events: none;
    content: '';
}

.layoutCard {
    color: inherit;
    background-color: var(--docs-card-bg-c);
    border: 1px solid #0068f9;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    font-weight: normal;
    height: 100%;
    justify-content: flex-start;
    line-height: 1.6;
    transition: box-shadow 150ms ease-out, transform 150ms ease-out, opacity 150ms ease-out;
    width: 100%;
    overflow: hidden;
}

.layoutCard:hover, .layoutCard:active, .layoutCard:focus {
    color: inherit;
}

.layoutCardWithImage {
    grid-row: span 2;
}

.layoutCardWithoutImage {
    font-size: 12px;
}

.layoutCardContainer {
    padding: 1.15rem;
}

.layoutCardImage {
    max-height: 100%;
}

.layoutCardIcon, .layoutCardIconsetContainer {
    width: 48px;
    height: 48px;
    margin-bottom: 1.2em;
    object-fit: contain;
}

.layoutCardIconDefault {
    transition: opacity 150ms ease-out;
}

.layoutCardIconHover {
    top: 0;
    position: absolute;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

.layoutCardIconRow {
    display: flex;
    max-height: 50px;
    height: 48px;
}

.layoutCardIconsetContainer {
    position: relative;
}

.layoutCardIconsetContainer .layoutCardIcon {
    position: absolute;
    opacity: 0;
    transition: 0.8s opacity;
}

.layoutCardIconsetContainer .layoutCardIconActive {
    opacity: 1;
}

.layoutCardIonicon {
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 1em;
}

.layoutCardContent > *:first-child {
    margin-top: 0;
}

.layoutCardContent > *:last-child {
    margin-bottom: 0;
}

.layoutCardContent > * {
    margin: 0 0 0.65em;
}

.layoutCardContent p {
    font-size: 0.75rem;
}

.layoutCardHeader {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 0.45em;
    font-weight: 600;
    color: var(--token-heading-color-dark);
}

.layoutCardWithoutImage .layoutCardHeader {
    margin-bottom: 0.3em;
}

.layoutCardHeader > svg {
    fill: currentColor;
    height: 1em;
    margin-bottom: -0.125em;
    width: auto;
}

.layoutCardSizeLg {
    font-size: 14px;
}

.layoutCardSizeLg .layoutCardIcon, .layoutCardSizeLg .layoutCardIonicon, .layoutCardSizeLg .layoutCardIconsetContainer {
    width: 80px;
    height: 80px;
}

.layoutCardSizeLg.layoutCardWithoutImage .layoutCardHeader {
    font-size: 20px;
}

.layoutAsideDocsCard {
    max-width: 240px;
}

.layoutAside .layoutCardContainer {
    display: grid;
    grid-template-columns: minmax(0, max-content) 1fr;
    grid-template-rows: minmax(0, min-content);
    grid-template-areas: 'icon title' 'icon body';
}

.layoutAside .layoutCardIcon {
    width: 32px;
    height: 32px;
    margin-right: 16px;
    margin-bottom: 0;
    grid-area: icon;
}

.layoutAside .layoutCardHeader {
    grid-area: title;
}

.layoutAside .layoutCardHeader::after {
    background-image: url('/img/new-tab.svg');
    display: inline-block;
    height: 13px;
    width: 13px;
    background-size: 13px 13px;
    margin-left: 4px;
    content: '';
}

.layoutAside .layoutCardContent {
    grid-area: body;
    max-height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.layoutAside .layoutCardIcon + .layoutCardContent {
    margin-top: -6px;
}

.layoutMarkdownContent p.layoutDocsCard {
    margin-top: 1em;
}
