.ozLayoutRoot {
  display: flex;
  flex-grow: 1;
  height: 100%;
  flex-direction: column;
}

.ozLayoutContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.ozLayoutWrapperDiv {
  display: flex;
  height: 100%;
}

.ozLayoutMainWrapper {
  
}
.ozLayoutFooter {
  display: flex;
}