.h1 {
  font-family: var(--title-font-family);
  font-size: var(--h1-size);
}
.h2 {
  font-family: var(--title-font-family);
  font-size: var(--h2-size);
}
.h3 {
  font-size: var(--h3-size);
}

.ozLayoutRoot {
  display: flex;
  flex-grow: 1;
  height: 100%;
  flex-direction: column;
}

.ozLayoutContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.ozLayoutWrapperDiv {
  display: flex;
  height: 100%;
}

.ozLayoutMainWrapper {
  
}
.ozLayoutFooter {
  display: flex;
  width: 100%;
}