.ozFooter {
  --ziti-footer-background-color: #121a36;
  --ziti-footer-color: #aaa;
  --accent: #ccc;

  .ozFooterSection {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    background-color: var(--ifm-background-color);
    width: 100%;
  }

  /* Footer Styles */

  .footer {
    background-color: var(--ziti-footer-background-color);
    color: var(--ziti-footer-color);
    padding: var(--space-md) var(--space-md);
    width: 100%;
  }

  .footerContainer {
    gap: 2rem;
    margin-bottom: 3rem;
    max-width: var(--ziti-landing-max-width);
    width: 100%;
    align-content: center;
  }

  .footerGrid {
    display: grid;
    gap: var(--space-md);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .footerColumn h3 {
    color: var(--light);
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .footerLinks {
    list-style: none;
  }

  .footerLinks li {
    margin-bottom: 0.75rem;
  }

  .footerLinks a {
    color: #aaa;
    transition: var(--transition);
  }

  .footerLinks a:hover {
    color: var(--accent);
    text-decoration: underline;
  }

  .footerCopyright {
    border-top: 1px solid #2a3552;
    padding-top: 2rem;
    text-align: center;
    font-size: 0.9rem;
  }

  .footerSocialLinks {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  .footerSocialLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #2a3552;
    color: var(--light);
    transition: var(--transition);
  }

  .footerSocialLink:hover {
    background-color: var(--primary);
    transform: translateY(-3px);
  }
  
  @media (max-width: 850px) {
    .footerGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}