
div#wrapper{
    _background: linear-gradient(90deg, rgba(244,4,77,1) 0%, rgba(0,104,249,1) 100%);
    background: #373850;
    _background2: #505166
}
a.contribution-link{
    background: white;
    border-radius: 20px;
}
.subnav.navbar.navbar-default{
    visibility: hidden;
}
article li{
    color: whitesmoke;
    font-family: 'Open Sans', Tahoma, Helvetica, sans-serif;
}
.headerCallout {
    border-radius: 10px;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    background: linear-gradient(45deg, #2d2848 40%, #425cc7 150%);
}
span, p{
    font-family: 'Open Sans', Tahoma, Helvetica, sans-serif;
    color: whitesmoke;
}
h1, p.h1{
    font-family: 'Russo One', 'Open Sans', Tahoma, Helvetica, sans-serif;
    color: whitesmoke;
    font-size: xx-large;
    padding-top: 10px;
}
span .emphasis{
    font-weight: bold;
    font-style: italic;
}
.row {
    max-width: 100%;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;
    font-family: 'Open Sans', Tahoma, Helvetica, sans-serif;
}
.col-lg-12 {
    font-family: "Russo One", 'Open Sans', Tahoma, Helvetica, sans-serif;
}
.features-small-item {
    cursor: pointer;
    display: block;
    background: whitesmoke;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 20%);
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease 0s;
    position: relative;
    margin: 10px;
}

.content a{
    text-decoration-line: underline;
    color: whitesmoke !important;
    position: relative;
}
a:hover{
    color: #ffb87c;
    text-decoration-line: underline !important;
}
.centerrow {
    text-align: center;
    margin: auto;
}

.btn{
    font-family: 'Open Sans', Tahoma, Helvetica, sans-serif;
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
    height: 80px;
}
.color-4 p {
    margin-bottom: unset;
}
.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    margin: 20px 20px;
    height: 80px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 5px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-hover:focus {
    outline: none;
}
.btn-hover:hover {
    height: 80px;
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.sdk-buttons.color-4h {
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 15px 0 rgba(255, 200, 200, 0.50);
    height: 140px;
}
.sdk-buttons {
    height: 140px;
    width: 140px;
    font-size: 16px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.75);
    color: grey;
    cursor: pointer;
    margin: 20px 20px;
    text-align:center;
    border: none;
    border-radius: 15px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.sdk-buttons:hover {
    background: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    box-shadow: 0 4px 15px 0 rgba(255, 255, 255, 1);
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.sdk-buttons:focus {
    outline: none;
}