.blue {
    color:blue;
  }
  .blue[aria-selected='true'] {
    border-bottom-color: blue;
  }
  
  .orange {
    color: orange;
  }
  .orange[aria-selected='true'] {
    border-bottom-color: orange;
  }
  
  .green {
    color: green;
  }
  .green[aria-selected='true'] {
    border-bottom-color: green;
  }