:root {
    --ifm-leading-desktop: 10px;
    --ifm-leading: 10px;
}

.slideStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0 0 0;
}

.defaultSlideStyle {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

code {
    white-space: nowrap;
}

.slideText{
}

.slideImage{
}

.exampleContainer {
    #background: #00d084;
}

.explainer {
    flex-direction: row;
    #background: #6EC1E4;
}

.asciinema {
}

.buttons {

}

@media (min-width: 1100px) {
    .defaultSlideStyle {
        flex-wrap: wrap;
    }

    .exampleContainer {
        display: flex;
        #background: #9BF316;
    }

    .explainer {
        display: flex;
        flex-direction: column;
        padding: 0 10px 0 0;
        flex-basis: 50%;
        min-width: 400px;
    }

    .asciinema {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 50%;
    }

    .buttons {

    }

    .slideText{
        max-width: 600px;
        min-width: 400px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        flex-basis: 50%;
        #background: #4d4d4d;
    }

    .slideImage{
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        flex-grow: 1;
        #background: #00d084;
    }
}







/**/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --delay-fade-const: 5000ms;
    --delay-shrink-const: 1000ms;
}

body {

    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
}

.chat {
    background: #eceef2d9;
    padding: 1em;
    border-radius: 1em;
    margin: 1em;
    -webkit-animation: chat-popup var(--delay-fade-const) both;
    animation: chat-popup var(--delay-fade-const) both;
    transform-origin: bottom right;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: .5;
    }
}
@keyframes fadeShrink {
    0% {
        opacity: 1;
        height: 100px;
    }
    70% {
        opacity: .8;
    }
    100% {
        opacity: .5;
        height: 0;
    }
}


@supports ((-webkit-backdrop-filter: saturate(180%) blur(20px)) or (backdrop-filter: saturate(180%) blur(20px))) {
    .chat {
        background: rgba(250, 250, 250, 0.8);
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
    }
}

.name {
    display: flex;
    flex-grow: 1;
    margin: 0 0 0.5em;
    font-weight: 600;
    color:#1068fe;
    overflow: clip;
}

@-webkit-keyframes chat-popup {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes chat-popup {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
.floating-div {
    position: fixed;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background-color: #e0e0e0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.outerWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #9BF316;
    border-radius: 1em;
    align-items: stretch;
    padding: 40px;
    overflow-y: auto; /* Enable vertical scrolling for overflow */
}
.pageWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #6EC1E4;
    border-radius: 1em;
    align-items: stretch;
    overflow: auto;
    padding: 20px;
}

.bg-img-1 {
    background: url(https://openziti.io/assets/images/bg-img-01-d31e592729cad752f0a97013a3f2d210.jpg) no-repeat fixed;
    background-size: 100% 100%;
}

.messagebox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    border-radius: 1.1em;
    margin: 5px;
    padding:5px 5px 5px 15px;
    background: rgba(250, 250, 250, 0.4);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    #-webkit-animation: chat-popup var(--delay-fade-const) both;
    #animation: chat-popup var(--delay-fade-const) both;
    transform-origin: bottom right;
}

.innerMsgBox {
    display: flex;
    flex-grow: 1;
    overflow: auto;
    justify-content: flex-end;
    flex-direction: row;
}

.chat-bubbles {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    z-index: 400;
    align-items: flex-end;
    background: red;
}

/* CSS for the outer div */
.fade-out-div {
    width: 200px;
    background-color: lightblue;
    overflow: hidden;
    transition: height 1s;
}

/* CSS for the inner content container */
.inner-content {
    padding: 10px;
    transition: transform 1s;
}

.left-column {
    flex: 1; /* Takes up remaining space */
    background-color: #f0f0f0;
    padding: 10px;
}

.middle-column {
    flex: 8; /* Takes up 80% of available space */
    background-color: #e0e0e0;
    padding: 10px;
}

.right-column {
    flex: 1; /* Takes up 10% of available space */
    background-color: #d0d0d0;
    padding: 10px;
}

.msgSpan {
    color: whitesmoke;
    font-weight: bold;
    padding: 10px 10px 0 10px;
}

/**/
.showLiveMessages {

}



.fade-in {
    opacity: 1;
    transition: opacity 1s ease;
    background: #00d084;
}

.message-container {
    position: fixed;
    top: 20px;
    right: 20px;
    max-width: 300px;
}

.message-container > div {
    opacity: 0;
}

.message-container > div.fade-in {
    opacity: 1;
}


.app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    border-radius: 1em;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    max-height: calc(100vh - 20px); /* Adjust the value based on your needs */
    padding: 10px;
}

.flex-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
}

.button {
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}














.drawer {
    background: #06aeef;
}







.fade-out-list {
    display: flex;
    flex-direction: column;
}

.fade-out-item {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.fade-out-item.fade-out {
    opacity: 0;
}

.fade-out-item.remove {
    display: none;
}

.messageName {
    font-weight: bold;
}

.messageText {
    padding-left: 0px;
}