:root {
    --ifm-leading-desktop: 10px;
    --ifm-leading: 10px;
}
.flexContainer {
    display: flex;
    flex-direction: row;
}

.column {
    flex: 1;
    width: 600px;
}

.slideStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0px 0px 0px;
}

.defaultSlideStyle {
    display: flex;
    margin: 5px;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding-right: 10px;
}

code {
    white-space: pre;
}

.theme-code-block {
    margin-top: 100px;
}
